{% extends 'patient/base.html'%}
{% load static %}
{% block content %}}

{% load crispy_forms_tags %}




    <div class="container-fluid"style="margin-top:10%">
        <!-- <H2> HELLO </H2> -->
        <!--page title-->
        <div class="page-title mb-4 d-flex align-items-center">
            <div class="mr-auto">
                <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES IMAGES</h4>
                <nav aria-label="breadcrumb" class="d-inline-block ">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item"><a href="{% url 'patient:home' %}">Accueil</a></li>
                        {% if request.user.is_superuser == False and request.user.is_staff %}
                        <li class="breadcrumb-item"><a href="{% url 'patient:patientform'%}">Ajouter Une Image </a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Liste Des Images</li>
                    </ol>
                </nav>
            </div>
        </div> 
        <!--/page title-->
        <div class="row m-auto">
            {% for image in listimage %}
            <div class="col-lg-3 col-md-6 mb-1">
                <div class="card">
                    <img class="card-img-top" src="{{image.img.url}}"/>
                    <div class="card-block">
                        <div>
                            <div class="row">
                                <div class="col-md">le patient:<h6 class="text-uppercase">{{image.patient.nom}}</h6></div>
                                <div class="col-md">Technicien: {{image.technicien}}</div>
                                <div class="col-md">type: {{image.type}}</div>
                            </div>
                        </div> 
                        <p class="text-muted m-2 card-subtitle">{{image.description}}</p>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-sm btn-primary">Modifier</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-sm btn-danger">Modifier</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                {% comment %} </div> {% endcomment %}
            </div>
           
            {%endfor%} 
        </div>
       
        {% comment %} {% for image in listimage %}
        <div class="row">
            <div class="col-xl-4 col-md-6 profile-info-position">
                <div class="card card-shadow mb-4 ">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="mt-4 mb-3">
                                   {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-{{message.tags}}">
                                            {{message}}
                                        </div>
                                        {% endfor %}
                                    {% endif %}  
                                <img class="rounded-circle"  src= "{{image.img.url}}"  alt='{{image.patient}}' width="85" />
                            </div>
                            <h5 class="text-uppercase mb-0">{{image.patient}}</h5>
                            <p class="text-muted mb-0">{{image.description}}</p>
                            <p class="text-muted mb-0">{{image.technicien}}</p>
                            <p class="text-muted mb-0">{{image.type}}</p>
                          
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
 {% endcomment %}

    </div>
    



{% endblock content %}