{% extends 'patient/base.html'%}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'img/slide/slide-1.jpg ' %})">
          <div class="container">
            <h2> Bienvenu dans <span> Projet Images Medicale pour </span><span>le Center national de Cardiologie</span></h2>
            <p></p>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'img/slide/slide-2.jpg ' %})">
          <div class="container">
            <h2> Bienvenu dans <span> Projet Images Medicale pour </span><span>le Center national de Cardiologie</span></h2>
            <p></p>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'img/slide/slide-3.jpg ' %})">
          <div class="container">
            <h2> Bienvenu dans <span> Projet Images Medicale pour </span><span>le Center national de Cardiologie</span></h2>
            <p></p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4 class="title"><a href="">Accueil et Admission</a></h4>
              <p class="description">Le Service d'accueil, des admissions et de facturation est le poumon du centre et conprend,comme son nom l'indique trois unités essentielles
                <li><i class="bi bi-check-circle"></i> L'Accueil </li>
                <li><i class="bi bi-check-circle"></i> Les Admissions </li>
                <li><i class="bi bi-check-circle"></i> La Facturation </li>
              </p>
          </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Consultation</a></h4>
              <p class="description">le Service des Consultations Externes est constitué d'un local comprenant une dizaine de bureaux adaptés a la realisation des consultations médicales,ou les médecins,
                conformément a un calendrier préétabli, passent a tour derole, en fonction de leur jour réservé, réaliser des consultations aux malades a titre externes.
                les rendez-vous sont pris a l'avance auprés d'une secrétaire médicale affectée a cette tache, qui se charge, le moment venu, de distribuer des numeros d'order en fonction de l'arrivée des malades et de réguler leur entrée en fonction 
                des numéros distribués.
              </p>  
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4 class="title"><a href="">Pharmacie</a></h4>
              <p class="description"> La Pharmacie Centrale est chargée de l'approvisionnement des différents services et unités du CNC en médicaments et consommables courants qui soient de qualité, afin d'assurer le fonctionnement optimal de l'établissement et une bonne pris en charge des malades.
                Elle dispose a cet effet des moyens humains matéreals et techniques nécessauires pour assurer un approvisionnement régulier et éviterdes ruptures de stocks,préjudiciables a une bonne prise en charge des malades.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Laboratoire</a></h4>
              <p class="description">il s'agit de l'un des services de support diagnostic les plus importants pour le centre et il comprend deux divisions:
                <li><i class="bi bi-check-circle"></i><b> Le Laboratoire Central</b>  </li>
                <li><i class="bi bi-check-circle"></i><b>L'Unité des urgences </b>  </li>
              </p>
           </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h2><span> Projet Images Medicale pour </span><span>le Center national de Cardiologie</span></h2>
            <p>Cette Projet est un projet Academique et il est Réalisée pour l'évaluation de la Matiére Images et Multimédia</p>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>le Centre national de cardiologie CNC</h2>
          <p> Notre pays, a l'instar des pays en voie de développement; sa connu des transformation s sociales et sanitaires qui ont fait apparaitre des nouveaux problémes de santé publique majeurs, liés a la survenue de maladies non transmissibles telle que les maladies cardiaque et le diabéte.C'est le phénoméne de la transition épidémiologique.
            le Centre national de cardiologie a été créé en réponse a ces fleaux et apporter une réponse aux exigences de la situation liee a la sédentarité,autabagisme, au stress de ces vingt deniéres années la prise en charge médicale de ces malades nécessite une hémorragie en devises
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'img/about1.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'img/about3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>le programme de formation.</h3>
            <p class="fst-italic">
              a été élaboré et exécuté de 2013-2018, en deux volets: 
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Une formation locale pour laquelle ds compétences existaient sur place, permettant l'atteinte des objectifs visées.</li>
              <li><i class="bi bi-check-circle"></i> Une formation a l'étranger pour les techniques hautement spésialisé2s, dans des centres conventionnés,cela a permis a notre Centre d'Etre opérationnel des son inauguration.</li>
            </ul>
            <h3>Inauguration</h3>
            <p>
              Le CNC a été inauguré le 30 nove,ber 2018; dans le cadre des festivités marquant le cinquante- huitiéme- anniversaire de l'accession de notre pays a la souveraineté internationale, par Son Excellenxe le Président de la République. Le déménagement des anciens locaux vers le nouveau centre s'est déroulé sans entraves, grace a une préparation anticipée de l'événement 
            </p>
            <h3>Fonctionnement</h3>
            <p>
              Depuis le transfert du Centre vers ses nouveaux locaux, les activités et prestations médicales ont été multipliée par deux a trois, malgré l'éloignement du site et les difficultés de transport qui en sont liées.Heureusement que des solutions alternatives avaient au préalables été trouvéés avec la Société Nationale des Transport Public, pour l'établissement de lignes réguliéres reliant le Centre aux endroits stratégique de la ville, afin de faciliter l'accessibilité au Centre pour les plus démunis.Tous ces efforts, ajoutés a l'engagement et au professionnalisme des équipes médicales,paramédicales et twchniques du CNC,ont permis de répondre a la demande de plus en plus en plus gradissante des populations en matiére de prestation et de soins cardiovasculaires 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

 
    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a href="">Consultation</a></h4>
            <p class="description">le Service des Consultations Externes est constitué d'un local comprenant une dizaine de bureaux adaptés a la realisation des consultations médicales,ou les médecins,
              conformément a un calendrier préétabli, passent a tour derole, en fonction de leur jour réservé, réaliser des consultations aux malades a titre externes.
              les rendez-vous sont pris a l'avance auprés d'une secrétaire médicale affectée a cette tache, qui se charge, le moment venu, de distribuer des numeros d'order en fonction de l'arrivée des malades et de réguler leur entrée en fonction 
              des numéros distribués.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href="">Accueil et Admission</a></h4>
            <p class="description">Le Service d'accueil, des admissions et de facturation est le poumon du centre et conprend,comme son nom l'indique trois unités essentielles
              <li><i class="bi bi-check-circle"></i> L'Accueil </li>
              <li><i class="bi bi-check-circle"></i> Les Admissions </li>
              <li><i class="bi bi-check-circle"></i> La Facturation </li>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">Laboratoire</a></h4>
            <p class="description">il s'agit de l'un des services de support diagnostic les plus importants pour le centre et il comprend deux divisions:
              <li><i class="bi bi-check-circle"></i><b> Le Laboratoire Central</b>  </li>
              <li><i class="bi bi-check-circle"></i><b>L'Unité des urgences </b>  </li>
            </p>
          </div>
          
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4 class="title"><a href="">Pharmacie</a></h4>
            <p class="description"> La Pharmacie Centrale est chargée de l'approvisionnement des différents services et unités du CNC en médicaments et consommables courants qui soient de qualité, afin d'assurer le fonctionnement optimal de l'établissement et une bonne pris en charge des malades.
              Elle dispose a cet effet des moyens humains matéreals et techniques nécessauires pour assurer un approvisionnement régulier et éviterdes ruptures de stocks,préjudiciables a une bonne prise en charge des malades.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Les Medecins</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-1.png' %}"><img src="{% static 'img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-2.jpg' %}"><img src="{% static 'img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallerycnc.jpg' %}"><img src="{% static 'img/gallery/gallerycnc.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-4.jpg' %}"><img src="{% static 'img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/cncgallery.jpg' %}"><img src="{% static 'img/gallery/cncgallery.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-6.jpg' %}"><img src="{% static 'img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-7.jpg' %}"><img src="{% static 'img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-8.jpg' %}"><img src="{% static 'img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-9.jpg' %}"><img src="{% static 'img/gallery/gallery-9.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-10.jpg' %}"><img src="{% static 'img/gallery/gallery-10.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-11.jpg' %}"><img src="{% static 'img/gallery/gallery-11.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/gallery-12.jpg' %}"><img src="{% static 'img/gallery/gallery-12.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/about.jpg' %}"><img src="{% static 'img/gallery/about.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/about1.jpg' %}"><img src="{% static 'img/gallery/about1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/about3.jpg' %}"><img src="{% static 'img/gallery/about3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/about2.jpg' %}"><img src="{% static 'img/gallery/about2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-1.jpg' %}"><img src="{% static 'img/gallery/departments-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-2.jpg' %}"><img src="{% static 'img/gallery/departments-2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-3.jpg' %}"><img src="{% static 'img/gallery/departments-3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-4.jpg' %}"><img src="{% static 'img/gallery/departments-4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-5.jpg' %}"><img src="{% static 'img/gallery/departments-5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'img/gallery/departments-6.jpg' %}"><img src="{% static 'img/gallery/departments-6.jpg' %}" class="img-fluid" alt=""></a></div>
           
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
      <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>3team Téchnologie(Groupe 2)</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
             Réalisée par 3team Téchnologie(Groupe 2) :
             <li><i class="bi bi-check-circle"></i><b><a href="email://mhdabdellahi0@gmail.com"> Mohamed abdellahi : C15623</a></b>  </li>
             <li><i class="bi bi-check-circle"></i><b><a href="https://bootstrapmade.com/"> MouhamedouFi : C14466</a> </b>  </li>
             <li><i class="bi bi-check-circle"></i><b><a href="https://bootstrapmade.com/"> Elhacen : C14507</a> </b>  </li>
          </div>
      </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock content %}