{% extends 'patient/base.html'%}
{% block content %}}

{% load crispy_forms_tags %}

<br><br><br><br><br><br>


    <div class="container-fluid">
        <!-- <H2> HELLO </H2> -->
        <!--page title-->
        <div class="page-title mb-4 d-flex align-items-center">
            <div class="mr-auto">
                <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES PATIENTS</h4>
                <nav aria-label="breadcrumb" class="d-inline-block ">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item"><a href="{% url 'patient:home' %}">Accueil</a></li>
                        {% if request.user.is_superuser == False and request.user.is_staff == False %}
                        <li class="breadcrumb-item"><a href="{% url 'patient:patientform'%}">Ajouter Un Patient </a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">List Des Patients</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/page title-->
        <div class="row">
            <div class="col-xl-12">
                  <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-warning">
                                <div class="custom-title">LIST DES PATIENTS </div>
                                <div class=" widget-action-link">
                                  {% if request.user.is_staff %}

                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                            Action <i class="fa fa-caret-down pl-2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                            
                                            <a class="dropdown-item" href="{% url 'patient:home' %}"> Accueil</a>
                                            <a class="dropdown-item" href="{% url 'patient:listPatient'%}"> List Des Factures</a>
                                        </div>
                                    </div>
                                     {%endif%}

                                </div>
                            </div>
                        </div>
                    <div class="card-body- pt-3 pb-4">
                        <div class="table-responsive">
                            {% if request.user.is_superuser == False and request.user.is_staff == False%}
                            <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                <thead>

                                    <tr>
                                        <th scope="col">Secreteur </th>
                                        <th scope="col">NOM </th>
                                        <th scope="col">PRENOM </th>
                                        <th scope="col">SEXE</th>
                                        <th scope="col">dateNaissance</th>
                                        <th scope="col">lieuNaissance</th>
                                        <th scope="col">lieuResidance </th>
                                        <th scope="col">NumTelephone 1</th>
                                        <th scope="col">NumTelephone 2</th>
                                        <th scope="col">Assurance </th>
                                        <th scope="col">SUPPRIMER </th>
                                        <th scope="col">MODIFIER </th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for patient in listPatient %}
                                    <tr>
                                        <td scope="row"> {{patient.secretaire}} </td>
                                        <td scope="row">{{patient.nom}}</td>
                                        <td scope="row">{{patient.prenom}}</td>
                                        <td scope="row">{{patient.sexe}}</td>
                                        <td scope="row">{{patient.dateNaissance}}</td>
                                        <td scope="row">{{patient.lieuNaissance}} </td>
                                        <td scope="row">{{patient.lieuResidance}}</td>
                                        <td scope="row">{{patient.NumTel1}}</td>
                                        <td scope="row">{{patient.NumTel2}} </td>
                                        <td scope="row">{{patient.Assurance}}</td>
                                        <th>
                                            <a href="imprimer_facture/{{patient.id}}" class="btn btn-primary mb-2 btn-success" >IMPRIMER</a>
                                        </th>
                                        <th>
                                            <a href="delete_facture/{{patient.id}}" class="btn btn-primary mb-2 btn-success" >SUPPRIMER</a>
                                        </th>
                                    </tr>
                                    {%endfor%}
                                </tbody>

                            </table>
                            {% else %}
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                        <th scope="col">Secreteur </th>
                                       <th scope="col">NOM </th>
                                       <th scope="col">PRENOM </th>
                                       <th scope="col">SEXE</th>
                                       <th scope="col">dateNaissance</th>
                                       <th scope="col">lieuNaissance</th>
                                       <th scope="col">lieuResidance </th>
                                       <th scope="col">NumTelephone 1</th>
                                       <th scope="col">NumTelephone 2</th>
                                       <th scope="col">Assurance </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for patient in listPatient %}
                                        <tr>
                                            <td scope="row"> {{patient.secretaire}} </td>
                                            <td scope="row">{{patient.nom}}</td>
                                            <td scope="row">{{patient.prenom}}</td>
                                            <td scope="row">{{patient.sexe}}</td>
                                            <td scope="row">{{patient.dateNaissance}}</td>
                                            <td scope="row">{{patient.lieuNaissance}} </td>
                                            <td scope="row">{{patient.lieuResidance}}</td>
                                            <td scope="row">{{patient.NumTel1}}</td>
                                            <td scope="row">{{patient.NumTel2}} </td>
                                            <td scope="row">{{patient.Assurance}}</td>
                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



{% endblock content %}