{% extends 'patient/base.html'%}
{% block content %}}

{% load crispy_forms_tags %}

<br><br><br><br><br><br>


    <div class="container-fluid">
        <!-- <H2> HELLO </H2> -->
        <!--page title-->
         <div class="page-title mb-4 d-flex align-items-center">
            <div class="mr-auto">
                <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES CONSULTATIONS</h4>
                <nav aria-label="breadcrumb" class="d-inline-block ">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item"><a href="{% url 'patient:home' %}">Accueil</a></li>
                        {% if request.user.groups.name == "medecins" %}
                        <li class="breadcrumb-item"><a href="{% url 'patient:patientform'%}">Ajouter Un Consultation </a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">List Des Consultations</li>
                    </ol>
                </nav>
            </div> 
        </div>
        <!--/page title-->
        <div class="row">
            <div class="col-xl-12">
                  <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-warning">
                                <div class="custom-title">LIST DES CONSULTATIONS </div>
                                <div class=" widget-action-link">
                                  {% if request.user.groups.all.0.name == 'secretaires' or request.user.groups.all.0.name == 'admin' %}

                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                            Action <i class="fa fa-caret-down pl-2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                            
                                            <a class="dropdown-item" href="{% url 'patient:home' %}"> Accueil </a>
                                            <a class="dropdown-item" href="{% url 'patient:listConsultation'%}"> List Des Consultations </a>
                                        </div>
                                    </div>
                                    {%endif%}

                                </div>
                            </div>
                        </div>
                    <div class="card-body- pt-3 pb-4">
                        <div class="table-responsive">
                            
                            <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                <thead>

                                    <tr>
                                        <th scope="col">medecin </th>
                                        <th scope="col">patient</th>
                                        <th scope="col">dateConsultation </th>
                                        <th scope="col">resultatConsultation</th>
                                        <th scope="col" colspan="2">Action</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for Consultation in listConsultation %}
                                    <tr>
                                        <td scope="row"> {{Consultation.medecin}} </td>
                                        <td scope="row">{{Consultation.patient}}</td>
                                        <td scope="row">{{Consultation.dateConsultation}}</td>
                                        <td scope="row">{{Consultation.resultatConsultation}}</td>
                                        <th>
                                            <a href="imprimer_facture/{{Consultation.id}}" class="btn btn-primary mb-2 btn-success" >IMPRIMER</a>
                                        </th>
                                        <th>
                                            <a href="delete_facture/{{Consultation.id}}" class="btn btn-primary mb-2 btn-success" >SUPPRIMER</a>
                                        </th>
                                    </tr>
                                    {%endfor%}
                                </tbody>

                            </table>
                           
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



{% endblock content %}